# tushare包介绍

In [1]:
import tushare as ts
import pandas as pd

In [4]:
ts.set_token('1f603caaf969c072114f75ddb40ba3b77f913c418b816d0559591cbc')

In [2]:
pro = ts.pro_api()

In [6]:
df = pro.daily(ts_code='689009.SH')
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,689009.SH,20210908,84.00,88.50,83.48,86.00,84.50,1.50,1.7751,12858.72,111471.848
1,689009.SH,20210907,85.90,87.60,84.20,84.50,86.00,-1.50,-1.7442,11469.19,97821.146
2,689009.SH,20210906,80.30,87.50,78.37,86.00,80.50,5.50,6.8323,21289.72,178908.582
3,689009.SH,20210903,84.47,86.85,80.39,80.50,82.25,-1.75,-2.1277,21972.60,184183.212
4,689009.SH,20210902,75.19,82.74,75.00,82.25,75.96,6.29,8.2807,23080.28,184726.858
...,...,...,...,...,...,...,...,...,...,...,...
206,689009.SH,20201104,57.45,57.80,51.90,54.40,57.39,-2.99,-5.2100,208464.50,1138491.187
207,689009.SH,20201103,56.50,59.55,53.36,57.39,56.77,0.62,1.0921,251214.45,1409432.109
208,689009.SH,20201102,50.20,56.78,48.81,56.77,47.60,9.17,19.2647,271934.02,1428223.165
209,689009.SH,20201030,40.02,51.56,40.02,47.60,38.50,9.10,23.6364,336005.51,1515930.836
210,689009.SH,20201029,33.00,49.80,33.00,38.50,18.94,19.56,103.2735,409549.22,1584100.687

In [7]:
df.to_csv("./689009SH.csv")

# 练习1-股票数据分析
- 使用tushare包获取某股票的历史行情数据

- 输出该股票所有收盘比开盘上涨3%以上的日期

- 输出该股票所有开盘比前日收盘跌幅超过2%的日期

- 加入我从2020年11月开始，每月第一个交易日买入1手股票，每年最后一个交易日卖出所有股票，到今天为止，我的收益如何？

In [1]:
import tushare as ts
import pandas as pd
import numpy as np
import matplotlib. pyplot as plt

### 使用tushare包获取某股票的历史行情数据

In [2]:
pro = ts.pro_api()
df = pro.daily(ts_code='689009.SH')
df.to_csv("689009SH.csv")

In [3]:
df = pd.read_csv("689009SH.csv", index_col='trade_date', parse_dates=['trade_date'])[['open','close', 'high','low']]
df

             open  close   high    low
trade_date
2021-09-08  84.00  86.00  88.50  83.48
2021-09-07  85.90  84.50  87.60  84.20
2021-09-06  80.30  86.00  87.50  78.37
2021-09-03  84.47  80.50  86.85  80.39
2021-09-02  75.19  82.25  82.74  75.00
...           ...    ...    ...    ...
2020-11-04  57.45  54.40  57.80  51.90
2020-11-03  56.50  57.39  59.55  53.36
2020-11-02  50.20  56.77  56.78  48.81
2020-10-30  40.02  47.60  51.56  40.02
2020-10-29  33.00  38.50  49.80  33.00

[211 rows x 4 columns]

### 输出该股票所有收盘比开盘上涨3%以上的日期

In [4]:
df[(df['close']-df['open'])/df['open'] >= 0.03].index

DatetimeIndex(['2021-09-06', '2021-09-02', '2021-09-01', '2021-08-25',
               '2021-08-24', '2021-08-23', '2021-08-11', '2021-07-22',
               '2021-07-07', '2021-06-28', '2021-06-25', '2021-06-23',
               '2021-06-17', '2021-06-08', '2021-06-07', '2021-06-01',
               '2021-05-31', '2021-05-27', '2021-05-25', '2021-04-30',
               '2021-04-29', '2021-04-19', '2021-04-16', '2021-04-06',
               '2021-04-02', '2021-03-22', '2021-03-11', '2021-03-05',
               '2021-03-03', '2021-03-01', '2021-02-10', '2021-02-02',
               '2021-01-26', '2021-01-25', '2021-01-22', '2021-01-21',
               '2021-01-20', '2021-01-14', '2021-01-12', '2021-01-04',
               '2020-12-31', '2020-12-30', '2020-12-28', '2020-12-25',
               '2020-12-23', '2020-12-17', '2020-12-16', '2020-12-11',
               '2020-12-07', '2020-12-04', '2020-12-01', '2020-11-20',
               '2020-11-16', '2020-11-13', '2020-11-12', '2020-11-06',
               '2020-11-05', '2020-11-02', '2020-10-30', '2020-10-29'],
              dtype='datetime64[ns]', name='trade_date', freq=None)

### 输出该股票所有开盘比前日收盘跌幅超过2%的日期

In [5]:
df['close'].shift(-1) # shift使数据移动，括号内为正则下移，为负则上移

trade_date
2021-09-08    84.50
2021-09-07    86.00
2021-09-06    80.50
2021-09-03    82.25
2021-09-02    75.96
              ...
2020-11-04    57.39
2020-11-03    56.77
2020-11-02    47.60
2020-10-30    38.50
2020-10-29      NaN
Name: close, Length: 211, dtype: float64

In [6]:
df[(df['open']-df['close'].shift(-1))/df['close'].shift(-1) >= 0.02]

              open  close    high    low
trade_date
2021-09-03   84.47  80.50   86.85  80.39
2021-08-25   80.00  86.08   86.08  79.00
2021-07-22   65.50  67.70   68.88  64.00
2021-04-21   70.96  71.51   73.49  69.27
2021-04-16   66.11  69.14   70.70  66.11
2021-04-01   66.70  65.86   66.70  64.18
2021-03-26   62.30  63.41   65.00  61.60
2021-03-10   63.73  62.50   64.98  61.82
2021-02-18  100.00  98.66  101.78  95.80
2020-11-30   72.60  71.35   74.66  66.00
2020-11-17   76.00  77.00   80.20  72.50
2020-11-09   70.50  68.04   71.68  63.50
2020-11-05   55.95  61.00   65.28  54.60
2020-11-02   50.20  56.77   56.78  48.81
2020-10-30   40.02  47.60   51.56  40.02

In [7]:
df[(df['open']-df['close'].shift(-1))/df['close'].shift(-1) >= 0.02].index

DatetimeIndex(['2021-09-03', '2021-08-25', '2021-07-22', '2021-04-21',
               '2021-04-16', '2021-04-01', '2021-03-26', '2021-03-10',
               '2021-02-18', '2020-11-30', '2020-11-17', '2020-11-09',
               '2020-11-05', '2020-11-02', '2020-10-30'],
              dtype='datetime64[ns]', name='trade_date', freq=None)

### 加入我从2020年11月开始，每月第一个交易日买入1手股票，每年最后一个交易日卖出所有股票，到今天为止，我的收益如何？

In [25]:
price_last = df['open'][0]
print(price_last)
df = df['2021-09-03':'2020-11'] # 剔除首尾无用数据
df

84.47

             open  close   high    low
trade_date
2021-09-03  84.47  80.50  86.85  80.39
2021-09-02  75.19  82.25  82.74  75.00
2021-09-01  73.58  75.96  77.85  73.18
2021-08-30  76.89  74.66  78.00  72.63
2021-08-27  83.18  78.05  83.40  76.66
...           ...    ...    ...    ...
2020-11-06  59.80  68.60  68.60  59.48
2020-11-05  55.95  61.00  65.28  54.60
2020-11-04  57.45  54.40  57.80  51.90
2020-11-03  56.50  57.39  59.55  53.36
2020-11-02  50.20  56.77  56.78  48.81

[206 rows x 4 columns]

In [26]:
df_monthly = df.resample("M").first() # 每月第一天的股票行情
df_monthly

             open  close    high    low
trade_date
2020-11-30  50.20  56.77   56.78  48.81
2020-12-31  69.94  72.80   73.35  69.00
2021-01-31  84.74  88.20   92.50  83.20
2021-02-28  96.00  96.80  103.28  89.00
2021-03-31  71.26  75.42   75.68  71.26
2021-04-30  66.70  65.86   66.70  64.18
2021-05-31  74.00  71.93   74.47  70.65
2021-06-30  72.86  77.50   82.89  72.86
2021-07-31  85.80  82.75   86.30  82.28
2021-08-31  67.66  67.29   68.14  66.02
2021-09-30  73.58  75.96   77.85  73.18

In [27]:
df_yearly = df.resample("A").last()[:1] # 每年的最后一天（不包含2021年）
df_yearly

            open  close  high    low
trade_date
2020-12-31  82.0  85.82  88.0  80.09

In [31]:
cost_money = 0 # 共花费钱数
hold = 0 # 共持有股数
for year in range(2020,2022):
    cost_money += df_monthly[str(year)]['open'].sum()*100 # 每一手买入买入100股所用钱数累计
    hold += len(df_monthly[str(year)]['open']) * 100 # 每一手买入买入100股
    
    if year != 2021:
        cost_money -= df_yearly.loc[str(year)]['open'][0] * hold
        hold = 0
    else: 
        continue
        
    print(cost_money)

-4386.0

<ipython-input-31-f9db8bacc63a>:4: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  cost_money += df_monthly[str(year)]['open'].sum()*100 # 每一手买入买入100股所用钱数累计
<ipython-input-31-f9db8bacc63a>:5: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  hold += len(df_monthly[str(year)]['open']) * 100 # 每一手买入买入100股

In [32]:
cost_money -= hold * price_last
print(-cost_money)

11149.0